html {
    border: none;
    border-radius: 10px;
    width: auto;
    text-align: center;
}

body {
    color: black;
    background-color: white;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
    font-size: small;
    height: auto;
    padding: 10px;
}

div.header {
    color:rgb(16, 131, 254);
    font-weight: bold;
    margin-bottom: 20px;
}

div.bluesky-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#version-div {
    font-size: x-small;
}

div#instructions {
    color: #1185feff;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}

div#instructions:hover {
    color: #4da3fe;
}

div#instructions-container {
    background-color: #e6f2ff;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
}

button.bluesky-scraper,
select.bluesky-scraper {
    color: #1185feff;
    border: solid 1px #1185feff;
    background-color: white;
    height: 32px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

select#sort-by {
    width: 100px;
}

select#output-format {
    width: 107px;
}

label.bluesky-scraper {
    width: 110px;
    text-align: left;
    display: inline-block;
}

button#abort-btn {
    color: #e60000;
    border-color: #e60000;
    display: none;
}

button#abort-btn:hover {
    border-color: #ff8080;
    background-color: #ffe6e6;
}

button#reset-auth {
    width: auto;
    color: #e60000;
    border-color: #e60000;
    margin: 5px;
}

button#reset-auth:hover {
    border-color: #ff8080;
    background-color: #ffe6e6;
}

button#extract-btn,
button#abort-btn,
button#dl-btn,
button#reset-btn,
button#get-code-btn,
button#auth-btn {
    margin: 5px auto;
}

button#dl-btn {
    width: auto;
}

button.bluesky-scraper:hover,
select.bluesky-scraper:hover {
    background-color: #e6f2ff;
}

.bluesky-spinner {
    border: 2px solid #e6f2ff;
    border-left: 2px solid #1185feff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.fold {
    width: 500px;
    text-align: left;
    padding-top: 5px;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    background-color: #e6f2ff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
}

div.fold {
    margin-bottom: 1em;
}

div#auth-fold::after,
div#search-fold::after {
    content: '—';
    float: right;
}

div#auth-unfold::after,
div#search-unfold::after {
    content: '+';
    float: right;
}

div#auth-container {
    border: 1px solid #1185feff;
    border-radius: 4px;
    margin: 1em auto 1em;
    padding: 1em;
    width: 500px;
}

div#search-container {
    margin-left: 35.5px;
}

.search-item {
    display: flex;
    vertical-align: baseline;
}

div#all-done {
    color: #006600;
    font-weight: bold;
    margin: 5px;
}

button#reset-auth {
    margin-top: 10px;
}

label {
    display: block;
}

input.bluesky-scraper {
    height: 32px;
    width: 300px;
    padding-left: 5px;
    border-radius: 4px;
    margin: 5px;
    border: solid 1px #1185feff;
    display: inline-block;
}

input.bluesky-scraper:focus-visible {
    outline: solid 2px #1185feff;
}

input#token-input {
    display: inline-block;
}

input#max-results {
    width: 98px;
}

.extract-options {
    width: 140px !important;
}

div#notice {
    width: 512px;
    color: #e66300;
    border: 2px solid #e66300;
    border-radius: 4px;
    background-color: #fff099;
    padding: 5px;
    display: block;
    position: absolute;
    bottom: 5%;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

a.notice {
    color: inherit;
    font-weight: bold;
}

p#dismiss {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
