html {
    border: none;
    border-radius: 10px;
    width: 272px;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: small;
    width: 236px;
    padding: 10px;
}

button {
    color: #1185feff;
    border: solid 1px #1185feff;
    background-color: white;
    margin: 5px;
    width: 235px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e6f2ff;
}

.bluesky-logo {
    margin-top: 10%;
}

#title {
    color: #1185feff;
    font-weight: bold;
    font-size: medium;
    margin: 5px;
}